.tel-main{
  input{
    width: 80%;
    margin: 0 10%;
    margin-top: .2rem;
    height: .6rem;
    border:1px solid #eee;
    border-radius: .05rem;
    padding-left: .2rem;
    box-sizing: border-box;
  }
}